body {
    background-color: #F4F7F7;
    font-family: monospace;
    font-size: 16px;
    margin-left: 40%;

}
.submit {
    background-color: #FF7E67;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}

h3 {

	color: #FEA386;
}
#declare_winner{

	background-color: #F69D9D;
	padding: 10px;
	max-width: 260px;
	border: 1px black solid;
	text-align: center;
}
.not_valid{

	background-color: #F6E4C4;
	padding: 10px;
	max-width: 250px;
	border: 1px black solid;
}
#score_keeper{
	margin-top: : 50px;
	margin-bottom: 20px;
	max-width: 250px;
	text-align: center;
}